.divTela1{
    display: flex;
}

.divTela2{
    display: flex;
    border-top: solid goldenrod 4px;
}

.divTelaDetailLeft{
display: flex;
width: 100%;
background-color: rgba(0, 0, 0, 0.375);
}

.divTela1Left{
    display: flex;
    width: 50%;
    height: auto;
    background-image: url(/imagens/16.11.20-Pato-x-Atlântico-Foto-Mauricio-Moreira-3.jpg);
    image-rendering: auto;
    background-position: 80% 50%;
    border-right: solid goldenrod 3px;
    transform: rotatey(180deg);
}

.divTela1Right{
    display: flex;
    background-color: black;
    width: 50%;
    height: 600px;
    color: white;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 40px;
    font-size: 20px;
    
}

.divTela2Left{
    display: flex;
    background-color: black;
    width: 50%;
    height: 600px;
    color: white;
    flex-direction: column;
    align-items: right;
    justify-content: top;
    padding: 40px;
    font-size: 20px;

    
}

.divTela2Right{
    display: flex;
    width: 64.5%;
    height: auto;
    background-image: url(/imagens/nzgk.jpg);
    image-rendering: auto;
    background-position: 50% 30%;
    border-left: solid goldenrod 3px;
}

.divTelaDetailRight{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.125);
    }